receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317

processors:
  batch: # Batching for efficiency
    timeout: 10s

exporters:
  zipkin:
    endpoint: "http://zipkin:9411/api/v2/spans" # Zipkin exporter configuration
  otlp:
    endpoint: "jaeger:4317" # Jaeger gRPC collector endpoint
    tls:
      insecure: true # Disable TLS for local development

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlp, zipkin]
    logs:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlp]
